/* frontend/src/style/ColaboradorLayout.css */

.colaborador-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #f4f7f6; /* Fondo gris claro */
}

/* El contenido de la página del colaborador (centrado y con ancho máx) */
.colaborador-page-content {
    width: 100%;
    max-width: 1200px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centrado */
    padding: 2rem;
    flex: 1;
}